<section class="bg-lime-100">
  <div class="container px-6 py-10 mx-auto">
    <div class="lg:flex lg:items-center">
      <div class="w-full space-y-12 lg:w-1/2">
        <div>
          <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">
            買い物管理アプリ<br> 作成中
          </h1>

          <div class="mt-2">
            <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
            <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
            <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
          </div>
        </div>

        <!-- カード1 -->
        <div class="md:flex md:items-start md:-mx-4">
          <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
            <%= inline_svg_tag "heroicons-outline/shopping-cart-icon.svg", class: "w-6 h-6" %>
          </span>
          <div class="mt-4 md:mx-4 md:mt-0">
            <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">買い物リストの管理をより効率的に！</h2>
            <p class="mt-3 text-gray-500 dark:text-gray-300">
              あの商品買ったかな？？あの商品既に買ってなかったっけ？
              こんなよくある不安や失敗をなくしましょう！！！
            </p>
          </div>
        </div>

        <!-- カード2 -->
        <div class="md:flex md:items-start md:-mx-4">
          <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
            <%= inline_svg_tag 'heroicons-outline/settings.svg', class: "w-6 h-6" %>
          </span>
          <div class="mt-4 md:mx-4 md:mt-0">
            <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Zero Configuration</h2>
            <p class="mt-3 text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
            </p>
          </div>
        </div>

        <!-- カード3 -->
        <div class="md:flex md:items-start md:-mx-4">
          <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
            <%= inline_svg_tag 'heroicons-outline/light-bulb.svg', class: "w-6 h-6" %>
          </span>
          <div class="mt-4 md:mx-4 md:mt-0">
            <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Elegant Dark Mode</h2>
            <p class="mt-3 text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
            </p>
          </div>
        </div>
      </div>

      <!-- 画像 -->
      <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center">
        <%= image_tag '/8349_color.png', alt: "Feature Image", class: "w-[28rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-full" %>
      </div>
    </div>

    <hr class="my-12 border-gray-200 dark:border-gray-700">

    <!-- ロゴグリッド -->
    <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
      <% 6.times do %>
        <div class="flex items-center justify-center col-span-1 md:col-span-2 lg:col-span-1">
          <!-- 任意のロゴを挿入 -->
          <%= inline_svg_tag "shared/sample-logo.svg", class: "h-10 text-gray-500 fill-current dark:text-gray-300" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
